@model FertilizerStockVM
@{
    ViewBag.Title = "Fertilizer Stock Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mb-3">उर्वरक स्टॉक</h4>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}


    @Html.HiddenFor(m => m.CompanyId)
    @Html.HiddenFor(m=>m.SocietyId)
    @Html.HiddenFor(m => m.FertilizerID)
    @Html.HiddenFor(m => m.StockID)
    @Html.HiddenFor(m => m.OpeningStock,new {@class="OpeningStock",@id="OpeningStock"})
    @Html.HiddenFor(m => m.QtyUnit)
    @Html.HiddenFor(m=>m.CreatedBy)

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>एंट्री डेट</label>
              
                <input type="date" id="txtentrydate" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>उर्वरक कंपनी</label>
                <select id="ddlfertilizerCompany" class="form-control">
                    <option value="-1">--विकल्प चुनें--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>समिति</label>
                <select id="ddlsamiti" class="form-control" >
                    <option value="-1">--विकल्प चुनें--</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>उर्वरक प्रकार</label>
                <select id="ddlfertilizer" class="form-control">
                    <option value="-1">--विकल्प चुनें--</option>
                </select>
                @*  <select asp-for="FertilizerID"
                        asp-items="@(new SelectList(ddlfertilizers, "FertilizerID", "FertilizerNameHindi"))"
                        class="form-select">
                    <option value="-1">--विकल्प चुनें--</option>
                </select> *@

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="form-group">
                <label>पैकेट प्रकार</label>
                <select id="PacketType" class="form-control">
                    <option value="-1">--विकल्प चुनें--</option>
                </select>
                @*  <select asp-for="FertilizerID"
                        asp-items="@(new SelectList(ddlfertilizers, "FertilizerID", "FertilizerNameHindi"))"
                        class="form-select">
                    <option value="-1">--विकल्प चुनें--</option>
                </select> *@

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>पैकेट की संख्या</label>
                <input type="number" id="PacketQty" class="form-control" />

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>कुल किलोग्राम </label>
                @Html.TextBoxFor(m => m.PurchasedQty, new { @class = "form-control", type = "number", step = "0.01", @readonly=true })
            </div>
        </div>
    </div>
    <div class="row">

          <div class="col-md-6">
            <div class="form-group">
                <label>टिप्पणी</label>
        @Html.TextAreaFor(
    m => m.Remarks,
    new { 
        @class = "form-control",
        maxlength = "250"   
    }

)  

<small id="charCount">250 characters remaining</small>
</div>          
</div>

        <div class="col-md-3">
            <div class="form-group">
                <button type="button" id="btnAdd" class="btn btn-primary">
                    Add More
                </button>
            </div>
        </div>

       
    </div>

    

     <div class="card shadow-sm">
            <div class="card-header bg-secondary text-white">
               @*  <strong>वितरण इतिहास</strong> *@
            </div>

            <div class="card-body p-2">
                <div id="partialstock" class="table-responsive">
         
                <table class="table table-bordered table table-responsive mt-3" id="tblItems">
                    <thead>
                        <tr>
                            <th>एंट्री डेट</th>
                            <th>कंपनी</th>
                            <th>समिति</th>
                            <th>उर्वरक</th>
                            <th>पैकेट</th>
                            <th>संख्या</th>
                            <th>कुल किलोग्राम</th>
                            <th>Remark</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="purchaseContainer">

                    </tbody>
                </table>
             <div class="col-md-3">
            <div class="form-group">
                <button type="button" id="btnSave" class="btn btn-primary">
                  Save
                </button>
                </div>
            </div>
            
        </div>
            </div>
        </div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  
     $(document).ready(function () {
          UserNumber= $('#CreatedBy').val();

          var maxLen = 250;
         $("#Remarks").on("input", function () {
        var remaining = maxLen - $(this).val().length;
        $("#charCount").text(remaining + " /250 characters");
        });

        bindDropDown('ddlfertilizer', 'GetAllFertilizer', 0, -1);
        bindDropDown('ddlfertilizerCompany', 'GetfertilizerCompany', 0, -1);
        bindDropDown('ddlsamiti', 'GetSamitiByUserNumber', UserNumber, 1);
        bindpacketType();
       
        $("#ddlfertilizer").change(function () {
             $('#FertilizerID').val( $('#ddlfertilizer').val());
            var fertilizerId = $(this).val();


            if (fertilizerId !== "") {
                $.ajax({
                    url: '/Society/GetAvailableStock',
                    type: 'GET',
                    data: {
                        fertilizerId: fertilizerId
                    },
                    success: function (response) {
                        alert('available:'+ JSON.stringify(response));
                        $("#OpeningStock").val(response.stock);
                    },
                    error: function () {
                        // $("#OpeningStock").text("Error fetching stock");
                    }
                });
            } else {
                $("#lblStock").text("");
            }
        });
        $("#PacketType, #PacketQty").on("change keyup", function () {
        calculateTotalKg();
        });
     });
     function bindpacketType(){
         var packetTypes = [
        { id: 10, text: "10 KG" },
        { id: 50, text: "50 KG" },
        { id: 100, text: "100 KG" },
        { id: 200, text: "200 KG" },
        { id: 500, text: "500 KG" }
    ];

    $.each(packetTypes, function (index, item) {
        $('#PacketType').append(
            $('<option>', {
                value: item.id,
                text: item.text
            })
        );
    });
     }
     function calculateTotalKg() {
        var packetKg = parseFloat($("#PacketType").val()) || 0;
        var packetQty = parseInt($("#PacketQty").val()) || 0;

        var totalKg = packetKg * packetQty;

        $("#PurchasedQty").val(totalKg);
    }

    
</script>
<script>
    $('#btnAdd').click(function(e){
        e.preventDefault();
        $('#CompanyId').val($('#ddlfertilizerCompany').val());
        $('#SocietyId').val($('#ddlsamiti').val());
       $('#FertilizerID').val($('#ddlfertilizer').val());
        $('#partialstock').load("/Society/AddfertilizerStock")
         

       var model = {
        CompanyId: $("#ddlfertilizerCompany").val(),
        CompanyName: $("#ddlfertilizerCompany option:selected").text(),

        SocietyId: $("#ddlsamiti").val(),
        SocietyName: $("#ddlsamiti option:selected").text(),

        FertilizerID: $("#ddlfertilizer").val(),
        FertilizerName: $("#ddlfertilizer option:selected").text(),

        PacketType: $("#PacketType").val(),
        PacketTypeName: $("#PacketType option:selected").text(),

        PacketQty: $("#PacketQty").val(),
        PurchasedQty: $("#PurchasedQty").val(),
        Remarks: $("#Remarks").val(),
        CreatedDate: $("#txtentrydate").val()
        };

         row = `
    <tr>
     <td>
            ${model.CreatedDate}
            <input type="hidden" class="CreatedDate" value="${model.CreatedDate}" />
        </td>
        <td>
            ${model.CompanyName}
            <input type="hidden" class="CompanyId" value="${model.CompanyId}" />
        </td>
        <td>
            ${model.SocietyName}
            <input type="hidden" class="SocietyId" value="${model.SocietyId}" />
        </td>
        <td>
            ${model.FertilizerName}
            <input type="hidden" class="FertilizerID" value="${model.FertilizerID}" />
        </td>
        <td>
            ${model.PacketTypeName}
            <input type="hidden" class="PacketType" value="${model.PacketType}" />
        </td>
        <td>
            ${model.PacketQty}
            <input type="hidden" class="PacketQty" value="${model.PacketQty}" />
        </td>
        <td>
            ${model.PurchasedQty}
            <input type="hidden" class="PurchasedQty" value="${model.PurchasedQty}" />
        </td>
        <td>
            ${model.Remarks}
            <input type="hidden" class="Remarks" value="${model.Remarks}" />
        </td>

        <td>
            <button type="button" class="btn btn-danger btn-sm btnRemove">X</button>
        </td>
    </tr>`;

    $("#purchaseContainer").append(row);


    });
    $(document).on("click", ".btnRemove", function () {
    $(this).closest("tr").remove();
});


$("#btnSave").click(function () {

    var purchaseList = [];

    $("#purchaseContainer tr").each(function () {

        var row = {
            CompanyId: $(this).find(".CompanyId").val(),
            SocietyId: $(this).find(".SocietyId").val(),
            FertilizerID: $(this).find(".FertilizerID").val(),
            PacketType: $(this).find(".PacketType").val(),
            PacketQty: $(this).find(".PacketQty").val(),
            PurchasedQty: $(this).find(".PurchasedQty").val(),
            Remarks: $(this).find(".Remarks").val(),
             CreatedDate: $(this).find(".CreatedDate").val(),
             OpeningStock:$("#OpeningStock").val()
        };

        purchaseList.push(row);
    });

    $.ajax({
        url: '/Society/Save',
        type: 'POST',
        data: JSON.stringify(purchaseList),
        contentType: 'application/json',
        success: function (res) {
            alert("Saved Successfully");
        }
    });
});

</script>

