@model SocietyViewModel;
@{
    ViewData["Title"] = "CreateSociety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>संस्था मास्टर</title>
</head>
<body>

    <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">
                <i class="fa fa-map-marker-alt"></i> संस्था जोड़ें
            </h4>

            <a href="@Url.Action("Index", "Admin")" class="btn btn-outline-dark">
                <i class="fa fa-arrow-left"></i> वापस जाएँ
            </a>
        </div>
        <hr />

        @if (TempData["msg"] != null && TempData["msg"].ToString() == "success")
        {
            <div class="alert alert-success">@TempData["msg"]</div>
        }
        @if (TempData["flag"] != null && @TempData["msg"] != null)
        {
            <div class="alert alert-danger">@TempData["msg"]</div>
        }

        @using (Html.BeginForm("CreateSociety", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id, new { @class = "form-control", @id = "hdnsocityId" })
            @Html.HiddenFor(x => x.TehsilId, new { @class = "form-control", @id = "hdnTahsil" })
            @Html.HiddenFor(x => x.BlockId, new { @class = "form-control", @id = "hdnBlock" })
            @Html.HiddenFor(x => x.VillageId, new { @class = "form-control", @id = "hdnVillage" })

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>तहसील</label>
                        <select asp-for="TehsilId"
                                asp-items="@(new SelectList(Model.ddltehsil, "Id", "TehsilNameHi"))"
                                class="form-select">
                            <option value="-1">--विकल्प चुनें--</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Block</label>
                        <select class="form-control" id="ddlblock">
                            <option>Choose Option</option>
                        </select>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Village</label>
                        <select class="form-control" id="ddlvillage">
                            <option>Choose Option</option>
                        </select>

                    </div>
                </div>
                </div>
           
            <div class="row">

                <div class="col-md-4">
                    <label>संस्था का नाम (अंग्रेजी में)</label>
                    @Html.TextBoxFor(m => m.SocietyNameEng,
                             new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label>संस्था का नाम (हिंदी में)</label>
                    @Html.TextBoxFor(m => m.SocietyNameHi,
                             new { @class = "form-control" })
                </div>
            <div class="col-md-4">
                <label>संस्था का Mobile </label>
                @Html.TextBoxFor(m => m.Mobile,
                                new { @class = "form-control", @type="Number" })
            </div>
            <div class="col-md-4">
                <label>संस्था का Email </label>
                @Html.TextBoxFor(m => m.Email,
                                new { @class = "form-control", @type = "email",@maxLength="10" })
            </div>
                <div class="col-md-4 mt-4">
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>

            </div>
        }
        
       
    </div>
    <div class="col-md-12">
       
    </div>
    <div id="partialSocietlist">
    </div>
</body>


</html>
<script>
    $(document).ready(function () {


        var url = '@Url.Action("GetSociety", "Admin")';
        $("#partialSocietlist").load(url + "?t=" + new Date().getTime());
        bindDropDown('ddlblock', 'GetBlock', 0, -1);
        bindDropDown('ddlvillage', 'GetVillage', 0, -1);
       
    });
    $('#TehsilId').change(function () {

        bindDropDown('ddlblock', 'GetBlock', $('#TehsilId').val(), -1);
        $('#hdnTahsil').val($('#TehsilId').val());
    })
    $('#ddlblock').change(function () {
        $('#hdnBlock').val($('#ddlblock').val());
        bindDropDown('ddlvillage', 'GetBlock', $('#ddlblock').val(), -1);
    })
    $('#ddlvillage').change(function () {
        $('#hdnVillage').val($('#ddlvillage').val());
       
    })
   

</script>

