@model TehsilViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>तहसील मास्टर</title>
</head>
<body>

    <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">
                <i class="fa fa-map-marker-alt"></i> तहसील जोड़ें
            </h4>

            <a href="@Url.Action("TehsilMaster", "Admin")" class="btn btn-outline-dark">
                <i class="fa fa-arrow-left"></i> वापस
            </a>
        </div>
        <hr />

        @if (TempData["msg"] != null)
        {
            <div class="alert alert-success">@TempData["msg"]</div>
        }

        @using (Html.BeginForm("CreateTehsil", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Id , new { @class = "form-control", @id="hdnTehsilId" })
            <div class="row">

                <div class="col-md-4">
                    <label>तहसील का नाम (अंग्रेजी में)</label>
                    @Html.TextBoxFor(m => m.TehsilNameEng,
                             new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    <label>तहसील का नाम (हिंदी में)</label>
                    @Html.TextBoxFor(m => m.TehsilNameHi,
                             new { @class = "form-control" })
                </div>

                <div class="col-md-4 mt-4">
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                </div>

            </div>
        }
        <div id="partialThesilList">
        
        </div>
    </div>
</body>


</html>

    <script>
        $(document).ready(function () {
            var url = '@Url.Action("GetTehsilMaster", "Admin")';
            $("#partialThesilList").load(url + "?t=" + new Date().getTime());
        });
        function editTehsil(englishName,HindiName,id) {
            //alert(HindiName);
            $('#TehsilNameEng').val(englishName);
            $('#TehsilNameHi').val(HindiName);
            $('#hdnTehsilId').val(id);
            //window.location.href = '/Admin/EditTehsil?id=' + id;
        }

    </script>
