@model List<TehsilViewModel>

<table class="table table-responsive example">
    <thead >
        <tr>
            <th>क्रमांक.</th>
            <th>जिले का नाम</th>
            <th>तहसील</th>
            <th>कार्रवाई</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null && Model.Any())
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.DistrictName</td>
                    <td>@item.TehsilNameHi</td>
                   
                    <td>
                        <button class="btn btn-sm btn-primary"
                                onclick="editTehsil('@item.TehsilNameEng','@item.TehsilNameHi', @item.Id)">
                            Edit
                        </button>
                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center text-danger">
                    No record found
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    const cultureName = 'hi';

    new DataTable('.example', {
        responsive: true,
        processing: true,
        paging: true,
        searching: true,
        ordering: true,

        language: {
            url: cultureName === "en"
                ? "//cdn.datatables.net/plug-ins/1.13.7/i18n/en-GB.json"
                : "//cdn.datatables.net/plug-ins/1.13.7/i18n/hi.json"
        },
        layout: {
            topStart: {
                buttons: [
                    {
                        extend: 'print',
                        text: cultureName === "en" ? 'Print' : 'प्रिंट'
                    },
                    {
                        extend: 'excel',
                        text: cultureName === "en" ? 'Excel' : 'एक्सेल',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: cultureName === "en" ? 'Column visibility' : 'कॉलम दिखाएँ'
                    }
                ]
            }
        }
    });
</script>